footer
    ul.footer-menu
        li.logo
            a(href="/")
                img.logo(src="images/logo.png")
        li
            a(href="/contact") contact
        li
            a(ui-sref="tos") terms
        li
            a(href="https://www.iubenda.com/privacy-policy/678926") privacy
        li
            a(href="http://blog.apicat.us") blog
        li
            a(href="http://status.apicat.us") status
        li
            a(href="#about") about
    hr.divide
    ul.social-menu
        li.github
            a(href="https://github.com/apicatus", target="blank_", title="Github")
                i.fa.fa-github-alt
        li.twitter
            a(href="https://twitter.com/apicatus", target="blank_", title="Twitter")
                i.fa.fa-twitter
        li.gplus
            a(href="https://plus.google.com/117035710096838499574", target="blank_", title="Google+", rel="publisher")
                i.fa.fa-google-plus-square
        li.youtube
            a(href="https://www.youtube.com/user/Apicatube", target="blank_", title="Youtube")
                i.fa.fa-youtube
        li.facebook
            a(href="https://www.facebook.com/apicatus", target="blank_", title="Facebook")
                i.fa.fa-facebook-square
        li.love
            a(data-toggle="modal", href="#love")
                i.fa.fa-heart
