<footer>
    <ul class="footer-menu">
        <li class="logo">
            <a class="" href="/">
                <img class="logo" src="images/logo.png" />
            </a>
        </li>
        <li>
            <a href="/contact">contact</a>
        </li>
        <li>
            <a href="/terms">terms</a>
        </li>
        <li>
            <a href="/privacy">privacy</a>
        </li>
        <li>
            <a href="http://blog.apicat.us">blog</a>
        </li>
        <li>
            <a href="http://status.apicat.us">status</a>
        </li>
        <li>
            <a href="#about">about</a>
        </li>
    </ul>

    <hr class="divide" />

    <ul class="social-menu">
        <li class="github">
            <a href="https://github.com/apicatus"><i class="fa fa-github-alt"></i></a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/apicatus"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="gplus">
            <a href="https://plus.google.com"><i class="fa fa-google-plus-square"></i></a>
        </li>
        <li class="facebook">
            <a href="https://www.facebook.com/apicatus"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="love">
            <a data-toggle="modal" href="#love"><i class="fa fa-heart"></i></a>
        </li>
    </ul>
</footer>
