section#header(data-0='background-position:0px 0px;', data-500='background-position:0px 200px;')
    .block(data-0='opacity: 1; -webkit-transform: scale(1);', data-180='opacity: 0; -webkit-transform: scale(.9);')
        img(src='images/logo.png', style='max-width: 256px;')
        h1 #apicatus
        .actions
          a.button(href='#call')
            i.fa.fa-github
            | Quick start with GitHub
section#about
    .block
        h1 APICATUS
        h2.title SHARE THE LINKS
        .keynote_entity
            img(src='images/logo.png', style='max-width: 256px;margin-bottom:2.25em;')
        .title
            h2 INTRODUCING API DIGESTORS
        p.bio
            a(href='http://bost.ocks.org/mike/', target='_blank') Apicatus
            |&nbsp;is a tool designed to assist you as you develop your api. Provides various functions that facilitate each of the processes that make the development of an API, maturing
            | along with it. It lets you create and simulate resources and entities, It also monitor all of it's key performance indicators, allowing you to spot potential problems and bugs.
section#tagline(data-bottom-top='background-position:0px -200px;', data-0-top-bottom='background-position: 0px  100px;')
    .block
        h1 HARDWIRED APIS ?
        br
section#features
    .block
        .title
            h1 FEATURES
            h2 ANALYZE, VISUALIZE, FIND ANSWERS.
            br
            .squarish-box(data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-search
            p
            | Once you've setup your API, that's when the real fun can begin. Our powerful analysis API lets you perform any sort of query you need today – and any you might think of in the future. And our visualization tools help you chart that data and transform it into answers.
            br
            img(src='images/screenshots/applications_1.jpg', alt='Resource Editor', width='760', height='auto')
            br
            h2 SERVER MOCK
            br
            .squarish-box(style='float: left;', data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-sitemap
            p
            | It's often hard to see how an API will be used until you have the chance to actually use it. What wireframes are for UI design, a server mock is for API design. It gives you a quick way to experiment with an API - even before you start writing code.
            br
            img(src='images/screenshots/resource_editor_1.jpg', data-bottom-top='opacity: 0', data-bottom='opacity: 1', alt='Resource Editor', width='760', height='auto')
            br
            h2 HIGHLIGHTS REEL
            .video-reel(style='text-align: center; margin-bottom: 4em;')
                iframe(width='853', height='480', src='//www.youtube.com/embed/A3PDXmYoF5U', frameborder='0', allowfullscreen='allowfullscreen')
            a.button(href='2013', target='_blank') Follow our channel
section#blog
    .block
        .title
            h1 OUR BLOG
            h2 TECH

section#streamline(data-bottom-top='background-position: 0px -200px;', data-0-top-bottom='background-position: 0px 50px')
    .block
        h1 STREAMLINE
section#login
    .block
        .title
            h1 LOGIN
            h2 LET'S HAVE SOME FUN
            div(ui-view="login", data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
section#howto
    .block
        .title
            h1 SPONSOR
            h2 HELP US MAKE APICATUS GREAT
            p
            | Apicatus is an open source everyone is welcome to help improve it.
            p
            | For more information,
            a(href='/login.html#tips') download our prospectus
            | or contact us at
            a(href='mailto:---@apicat.us') ---@apicat.us
            | .
section#about
    .block
        .title
            h1 WHO WE ARE
            h2 WHO MAKES APICATUS POSSIBLE
            div(style='overflow: auto;')
                p
                    img.clearfix(src='images/logo.png', alt='logo', align='left').paragraph-logo
                    a(href='http://bocoup.com') Apicatus
                    |&nbsp;is an Open Web technology company by and for programmers. We create new Open Web technologies and help them become viable through consulting, training and community development.
