<section id="header" data-0="background-position:0px 0px;" data-500="background-position:0px 200px;">
    <div class="block" data-0="opacity: 1; -webkit-transform: scale(1);" data-180="opacity: 0; -webkit-transform: scale(.9);">
        <img src="images/logo.png" style="max-width: 256px;">
        <h1>#apicatus</h1>
        <div class="actions">
            <a class="button" href="#call"><i class="fa fa-github"></i> Quick start with GitHub</a>
        </div>
    </div>
</section>

<section id="about">
    <div class="block">
        <h1>APICATUS</h1>
        <h2 class="title">SHARE THE LINKS</h2>
        <div class="keynote_entity">
            <img src="images/logo.png" style="max-width: 256px;">
            <div class="title">
                <h2>INTRODUCING API DIGESTORS</h2>
            </div>
            <p class="bio"><a href="http://bost.ocks.org/mike/" target="_blank">Apicatus</a> is a tool designed to assist you as you develop your api. Provides various functions that facilitate each of the processes that make the development of an API, maturing
                along with it. It lets you create and simulate resources and entities, It also monitor all of it's key performance indicators, allowing you to spot potential problems and bugs.</p>
        </div>
    </div>
</section>

<section id="tagline" data-bottom-top="background-position:0px -200px;" data-0-top-bottom="background-position: 0px  100px;">
    <div class="block">
        <h1>HARDWIRED APIS ?<br></h1>
    </div>
</section>

<section id="features">
    <div class="block">
        <div class="title">
            <h1>FEATURES</h1>
            </br>
            <h2>ANALYZE, VISUALIZE, FIND ANSWERS.</h2>
            <br />
            <div class="squarish-box" data-bottom-top="left:-200px;opacity: 0" data-bottom="left:0px;opacity: 1">
                <p><i class="fa fa-search"></i></p>
            </div>
            <p>Once you've setup your API, that's when the real fun can begin. Our powerful analysis API lets you perform any sort of query you need today – and any you might think of in the future. And our visualization tools help you chart that data and transform it into answers.</p>
            <br />
            <img src="images/screenshots/applications_1.jpg" alt="Resource Editor" width="760" height="auto" />
            <br />

            <h2>SERVER MOCK</h2><br/>
            <div class="squarish-box" style="float:left;" data-bottom-top="left:-200px;opacity: 0" data-bottom="left:0px;opacity: 1">
                <p><i class="fa fa-sitemap"></i></p>
            </div>
            <p>It's often hard to see how an API will be used until you have the chance to actually use it. What wireframes are for UI design, a server mock is for API design. It gives you a quick way to experiment with an API - even before you start writing code.</p>
            <br />
            <img src="images/screenshots/resource_editor_1.jpg" data-bottom-top="opacity: 0" data-bottom="opacity: 1" alt="Resource Editor" width="760" height="auto" />
            <br />

            <h2>HIGHLIGHTS REEL</h2>
            <div class="video-reel" style="text-align: center; margin-bottom: 4em;">
                    <iframe width="853" height="480" src="//www.youtube.com/embed/A3PDXmYoF5U" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="button" href="2013" target="_blank">Follow our channel</a>
        </div>
    </div>
</section>

<section id="blog">
    <div class="block">
        <div class="title">
            <h1>CALL FOR SPEAKERS</h1>
            <h2>WE WANT TO HEAR FROM YOU</h2>
        </div>
        <p><a href="openvis-2013-2/index.html">Last year's speakers</a> made OpenVis incredible. From talks about accessability to mapping, every talk delivered insight, inspiration and practical lessons for the audience. This year, we are looking
            for the best and brightest to meet that same challenge.</p>
        <p>We are always looking to strike a balance between veterans and new speakers, so if you have a great idea or topic you want to share, don't be shy!</p>
        <p>Our goal at OpenVis is to shed light on the real-world experiences and challenges of building data visualization on the open web. Talks will be announced on a rolling basis.</p>
        <a class="button" target="_blank" href="https://docs.google.com/forms/d/15ZvizW_dNBaprNtn7fXSeHd8jrT8FYDHRdPftCvMP70/viewform">CALL FOR SPEAKERS</a>
    </div>
</section>

<section id="streamline" data-bottom-top="background-position: 0px -200px;" data-0-top-bottom="background-position: 0px 50px">
    <div class="block">
        <h1>STREAMLINE</h1>
    </div>
</section>

<section id="login">
    <div class="block">
        <div class="title">
            <h1>REGISTER</h1>
            <h2>LET'S HAVE SOME FUN</h2>
        </div>
    </div>
</section>

<section id="howto">
    <div class="block">
        <div class="title">
            <h1>SPONSOR</h1>
            <h2>HELP US MAKE OPENVIS GREAT</h2>
        </div>
        <p>
            Sponsoring OpenVis is a great way for you to help us put on a top-notch community event and connect your company to people who are driving the conversation about Data Visualization on the web.
        </p>
        <p>
            For more information, <a href="/login.html#tips">download our prospectus</a> or contact us at <a href="mailto:openvisconf@bocoup.com">OpenVisConf@bocoup.com</a>.
        </p>
    </div>
</section>

<section id="about">
    <div class="block">
        <div class="title">
            <h1>WHO WE ARE</h1>
            <h2>WHO MAKES APICATUS POSSIBLE</h2>
        </div>

        <div style="overflow: auto;">
            <p>
                <img class="paragraph-logo" src="images/logo.png" alt="logo" align="left" class="clearfix" />
                <a href="http://bocoup.com">Apicatus</a> is an Open Web technology company by and for programmers. We create new Open Web technologies and help them become viable through consulting, training and community development.
            </p>
        </div>
    </div>
</section>
