section#header(data-0='background-position:0px 0px;', data-500='background-position:0px 200px;')
    .block(data-0='opacity: 1; -webkit-transform: scale(1);', data-180='opacity: 0; -webkit-transform: scale(.9);')
        img(src='images/logo.png', style='max-width: 256px;')
        h1 #apicatus
        .actions
          a.button(href="", ng-click="login.goAuth('github')")
            i.fa.fa-github
            |&nbsp;Quick start with GitHub
section#about
    .block
        h1 APICATUS
        h2.title BUILD THE PERFECT API
        .keynote_entity
            img(src='images/logo.png', style='max-width: 256px;margin-bottom:2.25em;')
        .title
            h2 INTRODUCING API DIGESTORS
        p.bio
            a(href='http://bost.ocks.org/mike/', target='_blank') Apicatus
            |&nbsp;was designed to help you develop the perfect API. We provide various tools to facilitate each part of the development process, maturing
            | along with your code, user base and infrastructure. Apicatus lets you simulate, manage and monitor API resources.
        p.bio
            | Get powerfull insignts like where and how your API is being used and what type of technologies are prefered.
section#tagline(data-bottom-top='background-position:0px -200px;', data-0-top-bottom='background-position: 0px  100px;')
    .block
        h1 HARDWIRED APIS ?
        br
section#features
    .block
        .title
            h1 FEATURES
            h2 ANALYZE, VISUALIZE, FIND ANSWERS.
            br
            .squarish-box(data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-search
            p
            | Once you've setup your API, that's when the real fun can begin. Our powerful analysis engine lets you perform any sort of query you need today – and any you might think of in the future. Our visualization tools help you chart that data and transform it into answers.
            br
            img(src='images/screenshots/applications_1.jpg', alt='Resource Editor', width='760', height='auto')
            br
            h2 SERVER MOCK
            br
            .squarish-box(style='float: left;', data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-sitemap
            p
            | It's often hard to see how an API will be used until you have the chance to actually use it. What wireframes are for UI design, a server mock is for API design. It gives you a quick way to experiment with an API - even before you start writing code.
            br
            img(src='images/screenshots/resource_editor_1.jpg', data-bottom-top='opacity: 0', data-bottom='opacity: 1', alt='Resource Editor', width='760', height='auto')
            br
            h2 DASHBOARD
            br
            .squarish-box(style='float: left;', data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-area-chart
            p
            | Keep track of key performance indicators like requests per minute, transactions by region, usage by tier and performance against SLAs in a set of interactive, graphical dashboards and charts.
            br
            img(src='images/screenshots/dashboard.jpg', data-bottom-top='opacity: 0', data-bottom='opacity: 1', alt='Dashboard', width='760', height='auto')
            .squarish-box(style='float: left;', data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
                p
                    i.fa.fa-bar-chart
            p
            | Manage and monitor all consumed APIs from a simple aggregated view
            br
            img(src='images/screenshots/geo.jpg', data-bottom-top='opacity: 0', data-bottom='opacity: 1', alt='Dashboard', width='760', height='auto')

            //h2 HIGHLIGHTS REEL
            //.video-reel(style='text-align: center; margin-bottom: 4em;')
            //    iframe(width='853', height='480', src='//www.youtube.com/embed/A3PDXmYoF5U', frameborder='0', allowfullscreen='allowfullscreen')
            //a.button(href='2013', target='_blank') Follow our channel
            //https://www.youtube.com/user/Apicatube
section#blog
    .block
        .title
            h1 OUR BLOG
            h2 TECH & MORE
            br
            a(href='http://blog.apicat.us', target="_blank")
                img(src='images/blog.png', data-bottom-top='opacity: 0', data-bottom='opacity: 1', alt='Blog Header', title="Our Blog", width='760', height='auto')

section#streamline(data-bottom-top='background-position: 0px -200px;', data-0-top-bottom='background-position: 0px 50px')
    .block
        h1 STREAMLINE
section#login
    .block
        .title
            h1 LOGIN
            h2 LET'S HAVE SOME FUN
            div(ui-view="login", data-bottom-top='left:-200px;opacity: 0', data-bottom='left:0px;opacity: 1')
section#howto
    .block
        .title
            h1 SPONSOR
            h2 HELP US MAKE APICATUS GREAT
            p
            | Apicatus is an open source initiative. Developers are welcome to contribute.
            | For more information,
            a(href='https://github.com/apicatus')&nbsp;check our github repo.
            p
            |&nbsp;For Apicatus technical support, please contact us
            a(href='mailto:help@apicat.us')&nbsp;help@apicat.us
            | .
section#about
    .block
        .title
            h1 WHO WE ARE
            h2 WHO MAKES APICATUS POSSIBLE
            div(style='overflow: auto;')
                p
                    img.clearfix(src='images/logo.png', alt='logo', align='left').paragraph-logo
                    a(href='http://bocoup.com') Apicatus
                    |&nbsp;is an Open Web technology company by and for programmers. We create new Open Web technologies and help them become viable through consulting, training and community development.
