<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <title><%= pageTitle %></title>
        <meta name="description" content="Apicatus is a tool designed to mock, test and analyze APIs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Apicatus">

        <link rel="icon" type="image/png" href="images/logo.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-57-precomposed.png">
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Raleway:100,700,400,500,600'>
        <link rel='stylesheet' type='text/css' href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <link rel='stylesheet' type='text/css' href="css/icons.css">
        <link rel='stylesheet' type='text/css' href="css/base.css">
    </head>

    <body id="body" lang="en">

        <div id="wrapper">
            <% include nav.html %>
            <% include home.html %>
            <% include login.html %>
            <% include footer.html %>
        </div>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
        <script type="text/javascript" src="js/modernizr.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>

        <script type="text/javascript">
            Modernizr.load([{
                test: Modernizr.mq('only screen and (min-width: 800px)'),
                yep: ['js/skrollr.js'],
            }]);

            $(".nav-btn").click(function () {
                $('input[type=checkbox]').removeAttr('checked');
            });
            document.createElement("section");
            document.createElement("footer");
            document.createElement("header");
        </script>
    </body>
</html>
