<section id="logform">
    <div class="block">
        <div class="login-box">
            <a href="/auth/github" class="login-with github"><i class="fa fa-github"></i> Continue with GitHub</a>
            <a href="" class="login-with twitter"><i class="fa fa-twitter"></i> Continue with Twitter</a>
            <button type="submit" id="r_submit" class="login-button" tabindex="13">Sign up for Apicatus</button>
            <p class="login-text">Already have an account? <a class="switchView" tabindex="14" href="/login">Sign in</a>.</p>
            <p class="login-text smaller">By clicking "Sign up for Apicatus", you agree to our <a tabindex="15" href="http://apicat.us/tos">terms of service</a> and <a tabindex="15" href="https://www.iubenda.com/privacy-policy/678926">privacy policy</a>.</p>
        </div>
    </div>
</section>

<section id="logform">
    <div class="block">
        <div class="login-box">
            <a href="/auth/github" class="login-with github"><i class="fa fa-github"></i> Continue with GitHub</a>
            <a href="" class="login-with twitter"><i class="fa fa-twitter"></i> Continue with Twitter</a>
            <!-- p class="option">Or</p -->
            <hr class="option" />
            <div class="input-fields">
                <input placeholder="Name" class="text-field" type="text" name="name" value="" autofocus="autofocus" id="r_name" tabindex="10">
                <input placeholder="Email" class="text-field" type="email" name="email" value="" id="r_email" tabindex="11" required="">
                <input placeholder="Password" class="text-field" type="password" name="pass" value="" id="r_pass" tabindex="12" required="">
            </div>
            <button type="submit" id="r_submit" class="login-button" tabindex="13">Sign up for Apicatus</button>
            <p class="login-text">Already have an account? <a class="switchView" tabindex="14" href="/login">Sign in</a>.</p>
            <p class="login-text smaller">By clicking "Sign up for Apicatus", you agree to our <a tabindex="15" href="http://apicat.us/tos">terms of service</a> and <a tabindex="15" href="https://www.iubenda.com/privacy-policy/678926">privacy policy</a>.</p>
        </div>
    </div>
</section>

<section id="logform">
    <div class="block">
        <div class="login-box">
            <a href="/auth/github" class="login-with github"><i class="fa fa-github"></i> Sign in with GitHub</a>
            <a href="" class="login-with twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
            <!-- p class="option">Or</p -->
            <hr class="option" />
            <div class="input-fields">
                <input placeholder="Email" class="text-field" type="email" name="email" value="" id="r_email" tabindex="11" required="">
                <input placeholder="Password" class="text-field" type="password" name="pass" value="" id="r_pass" tabindex="12" required="">
            </div>
            <p class="login-text">
                <a tabindex="5" class="forgottenPass" href="/password-recovery">Forgotten Password?</a>
            </p>
            <button type="submit" id="r_submit" class="login-button" tabindex="13">Sign in</button>
            <p class="login-text">Need an account? <a tabindex="7" class="switchView" href="/register">Sign up now</a>.</p>
        </div>
    </div>
</section>

<section id="logform">
    <div class="block">
        <div class="login-box">
            <h1 class="login-heading">Password Recovery</h1>
            <div class="input-fields">
                <input placeholder="Email" class="text-field" type="email" name="email" value="" id="r_email" tabindex="11" required="">
            </div>
            <button type="submit" id="r_submit" class="login-button" tabindex="13">Send email with instructions</button>
        </div>
    </div>
</section>
