<nav id="menu" role="custom-dropdown">
    <div class="block">
        <input type="checkbox" id="button">
        <label for="button" onclick="">
            <i class="menu fa fa-bars"></i>
        </label>
        <ul>
            <li class="menu-logo">
                <a href="#header" class="nav-btn">
                    <img class="logo icon32" src="images/logo.png">
                </a>
            </li>
            <li>
                <a href="#about" class="nav-btn">ABOUT</a>
            </li>
            <li>
                <a href="#features" class="nav-btn">FEATURES</a>
            </li>
            <li>
                <a href="#howto" class="nav-btn">HOWTO</a>
            </li>
            <li>
                <a href="#blog" class="nav-btn">BLOG</a>
            </li>
            <li>
                <a href="/login.html" class="nav-btn">LOGIN</a>
            </li>
        </ul>
    </div>
</nav>