nav.menu(role="nav")
    input#button(type='checkbox')
    label(for='button')
        i.menu.fa.fa-bars
    ul
        li.menu-logo
            a.nav-btn(href='#header', du-smooth-scroll, offset="0", style="padding:0px;")
                img.logo.icon32(src='images/logo.png')
        li
            a.nav-btn(href='#about', du-smooth-scroll, du-scrollspy, offset="30") ABOUT
        li
            a.nav-btn(href='#features', du-smooth-scroll, du-scrollspy, offset="30") FEATURES
        li
            a.nav-btn(href='#sponsor', du-smooth-scroll, du-scrollspy, offset="30") SPONSOR
        li
            a.nav-btn(href='#team', du-smooth-scroll, du-scrollspy, offset="30") TEAM
        li
            a.nav-btn(href='#login', du-smooth-scroll, du-scrollspy, offset="30")
                i.fa.fa-fw.fa-sign-in
                |&nbsp;LOGIN
