nav#menu(role='custom-dropdown')
    div.block
        input#button(type='checkbox')
        label(for='button', onclick='')
            i.menu.fa.fa-bars
        ul
            li.menu-logo
                a.nav-btn(href='#header')
                    img.logo.icon32(src='images/logo.png')
            li
                a.nav-btn(href='#about') ABOUT
            li
                a.nav-btn(href='#features') FEATURES
            li
                a.nav-btn(href='#howto') HOWTO
            li
                a.nav-btn(href='#blog') BLOG
            li
                a.nav-btn(href='#login') LOGIN
